/* Estilos para dispositivos de escritorio */
/* Para dispositivos de escritorio */
@media screen and (min-width: 768px) {
  .grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .grid-container {
    flex-basis: 23%;
    margin-bottom: 20px;
  }
}

/* Ajustes generales */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Encabezado */
/* header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
} */
header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

/* header h1 {
  margin: 0;
  font-size: 2.5rem;
  letter-spacing: 2px;
  text-align: center;
} */
header h1 {
  margin: 0;
  font-size: 1.5rem;
}

/* nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
} */
/* Centra los elementos en dispositivos móviles */
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  color: #ff5e5e;
}

/* Redes sociales */
.redes-sociales {
  background-color: #333;
  text-align: center;
  padding: 10px;
}

/* .redes-sociales a {
  color: #fff;
  text-decoration: none;
  margin: 0 5px;
  font-size: 1.5rem;
  transition: color 0.3s ease-in-out;
} */
.redes-sociales a {
  color: #fff;
  text-decoration: none;
  margin: 0 5px;
}

/* .redes-sociales a:hover {
  color: #ff5e5e;
} */

/* Artículo */
article {
  padding: 50px;
  text-align: center;
}

article h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

article p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

article img {
  max-width: 100%;
  /* La imagen ocupará el ancho completo del contenedor */
  height: auto;
  margin-bottom: 20px;
  margin-top: 5%;
}

article a {
  display: inline-block;
  background-color: #ff5e5e;
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 1.2rem;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

article a:hover {
  background-color: #222;
}

/* Formulario de contacto */
#contacto {
  text-align: center;
  margin-top: 150px;
}

#contacto h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form div {
  margin-bottom: 20px
}

label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  /* El ancho ocupará el 100% del contenedor */
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  display: inline-block;
  background-color: #ff5e5e;
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 1.2rem;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #222;
}

/* Acerca de */
#acerca {
  text-align: center;
  margin-top: 150px;
}

#acerca h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  letter-spacing: 2px;
}

#acerca p {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: justify;
  color: #666;
  margin: 0 20px;
  /* Ajusta los márgenes laterales según tus necesidades */
}

/* Contenido de las news */
  .titulonews {
  margin-top: 10%;
  font-size: 2.5rem;
  margin-bottom: 20px;
  letter-spacing: 2px;
  color: #222;
  text-align: center; /* Centra el título en dispositivos móviles */
}

.news-content {
  display: flex;
  flex-direction: column;
  /* Cambia la dirección de la flexbox en dispositivos móviles /
  align-items: center; / Centra los elementos en dispositivos móviles */
  margin-bottom: 20px;
}

.news-image img {
  max-width: 100%;
  /* La imagen ocupará el ancho completo del contenedor */
  height: auto;
  margin-bottom: 20px;
  margin-right: 0; /* Elimina el margen derecho en dispositivos móviles */
}

.news-text {
  flex: 1;
  /* Ocupa todo el espacio disponible en dispositivos móviles */
  margin-right: 0; /* Elimina el margen derecho en dispositivos móviles */
  text-align: justify;
}

.news-text p {
  margin-bottom: 20px;
  /* Ajusta el margen inferior según tus necesidades */
  font-size: 1rem; /* Ajusta el tamaño de fuente según tus necesidades */
  line-height: 2; /* Ajusta el interlineado según tus necesidades */
  text-align: justify;
  color: #666;
}

/* Pie de página */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 100px;
}

footer h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

footer nav ul {
  display: flex;
  justify-content: center;
}

footer nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: color 0.3s ease-in-out;
}

footer nav a:hover {
  color: #ff5e5e;
}

.redes-sociales a {
  color: #fff;
  text-decoration: none;
  margin: 0 5px;
}